* {
  padding: 0;
  margin: 0 auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  transition: 0.4s;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  transform: scale(1.1);
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

#header {
  background: rgb(255, 255, 255);
  position: fixed;
  width: 1440px;
  height: 63px;
  z-index: 999;
}
#header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 0;
}
#header .header--title {
  margin: 0 100px 0 40px;
}
#header .header--title h1 {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 1.1px;
  text-transform: lowercase;
  color: #222222;
}
#header .header--nav {
  display: flex;
  flex-direction: row;
}
#header .header--nav h1 {
  cursor: pointer;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-transform: lowercase;
  color: #222222;
  margin: 0 10px;
}
#header .header--nav h1:hover {
  color: #FD8558;
}
#header .header--btn {
  padding: 5px 0 0;
}
#header .header--btn button {
  width: 154px;
  height: 46px;
  background: #FD8558;
  border: #FD8558;
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
#header .header--burger {
  display: none;
}
#header .header--burger #burger:checked ~ .header--burger__block {
  opacity: 1;
  display: block;
}
#header .header--burger #burger:checked ~ .burgerlabel {
  display: none;
}
#header .header--burger .inputcheck {
  display: none;
}
#header .header--burger .burgerlabel {
  position: absolute;
  color: white;
  top: 40px;
  right: 50px;
}
#header .header--burger .icon-burger {
  font-size: 27px;
}
#header .header--burger__block {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  transition: 0.7s;
  opacity: 0;
}
#header .header--burger__block .icon-close {
  font-size: 27px;
}
#header .header--burger__block .burgerclose {
  position: absolute;
  color: white;
  top: 40px;
  right: 50px;
}
#header .header--burger__block--menu {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#header .header--burger__block--menu .header-block1 {
  display: flex;
}
#header .header--burger__block--menu .header-block2 {
  display: flex;
  padding: 20px 0;
}
#header .header--burger__block--menu .header-block3 {
  display: flex;
}

#hero {
  overflow: hidden;
  width: 1349px;
  height: 840px;
  background: url("../img/bg.png") center;
  min-height: 100px;
}
#hero .hero--crug {
  position: absolute;
  left: 410px;
  top: 200px;
  width: 499px;
  height: 499px;
  background: rgba(33, 32, 32, 0.96);
  border-radius: 50%;
}
#hero .hero--crug__krug {
  position: absolute;
  left: 20px;
  bottom: 25px;
  width: 499px;
  height: 499px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.48);
  background: transparent;
}
#hero .hero--title {
  position: absolute;
  top: 260px;
  right: 382px;
}
#hero .hero--title h1 {
  font-weight: 400;
  font-size: 70px;
  text-align: center;
  color: #FFFFFF;
}
#hero .hero--title__btn {
  display: flex;
  flex-direction: row;
  padding: 0 120px 0 142px;
}
#hero .hero--title__btn button {
  width: 150px;
  height: 56px;
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
  border: 2px solid #FD8558;
  background: transparent;
}
#hero .hero--title__btn button:hover {
  width: 154px;
  height: 56px;
  background: #FD8558;
  border: #FD8558;
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
#hero .hero--foto__ypit {
  margin: 0 0 -42px 770px;
}
#hero .hero--x {
  padding: 163px 0 0 1200px;
}
#hero .hero--lun__x {
  margin: 0 0 102px 122px;
  width: 50px;
  height: 50px;
}
#hero .hero--lun__lus {
  margin: 223px 0 0 481px;
}

#ultimate .ultimate--title {
  padding: 60px 0 20px;
}
#ultimate .ultimate--title h1 {
  font-weight: 400;
  font-size: 150px;
  line-height: 145px;
  letter-spacing: 0.1px;
  color: #F7F7F7;
}
#ultimate .ultimate--block {
  display: flex;
  align-items: center;
}
#ultimate .ultimate--block__one--about {
  padding: 0 0 30px;
}
#ultimate .ultimate--block__one--about span {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 15px;
  color: #FD8558;
  margin: 0 0 10px;
}
#ultimate .ultimate--block__one h1 {
  font-weight: 400;
  font-size: 40px;
  line-height: 54px;
  color: #333333;
}
#ultimate .ultimate--block__two {
  padding: 0 0 65px;
}
#ultimate .ultimate--block__two h1 {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  color: #222222;
  margin: 0 0 15px;
}
#ultimate .ultimate--block__two p {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #999999;
}
#ultimate .ultimate--group {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 40px 60px 0;
}
#ultimate .ultimate--group__foto img {
  width: 600px;
  height: 441px;
}
#ultimate .ultimate--group__title h1 {
  padding: 0 0 35px;
  font-weight: 400;
  font-size: 26px;
  line-height: 45px;
  color: #222222;
}
#ultimate .ultimate--group__title h1 span {
  font-weight: 400;
  font-size: 26px;
  line-height: 45px;
  color: #FD8558;
}
#ultimate .ultimate--group__title--text {
  padding: 72px 0 0;
}
#ultimate .ultimate--group__title--text h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #222222;
}
#ultimate .ultimate--group__title--text p {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1.8px;
  color: #CACACA;
}

#creative {
  padding: 150px 0 60px;
}
#creative .creative {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#creative .creative--block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
#creative .creative--block__lamp {
  padding: 0 50px 15px 0;
}
#creative .creative--block__lamp--krug {
  margin: 0 0 0 0;
  width: 65px;
  height: 65px;
  background: rgba(253, 133, 88, 0.1);
  border-radius: 32.5px;
}
#creative .creative--block__lamp--krug__lamps {
  position: absolute;
  left: 235px;
  top: 1951px;
  width: 64px;
  height: 64px;
  color: #FD8558;
}
#creative .creative--block__lamp--rin {
  margin: 0 0 0 0;
  width: 65px;
  height: 65px;
  background: rgba(58, 15, 115, 0.1);
  border-radius: 32.5px;
}
#creative .creative--block__lamp--rin__ring {
  position: absolute;
  right: 650px;
  rotate: 45deg;
  top: 1951px;
  width: 54px;
  height: 64px;
  color: #3A0F73;
}
#creative .creative--block__lamp--tim {
  margin: 0 0 0 0;
  width: 65px;
  height: 65px;
  background: rgba(112, 180, 70, 0.1);
  border-radius: 32.5px;
}
#creative .creative--block__lamp--tim__time {
  position: absolute;
  right: 248px;
  top: 1951px;
  width: 64px;
  height: 64px;
  color: #70B446;
}
#creative .creative__title h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  color: #333333;
}
#creative .creative__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #999999;
}

#take .take--block {
  display: flex;
  align-items: center;
}
#take .take--block__line {
  width: 506px;
  height: 2px;
  background: #F5F5F5;
}
#take .take--block__crug {
  width: 80px;
  height: 80px;
  background: rgba(253, 133, 88, 0.2);
  border-radius: 40px;
}
#take .take--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 120px 0 0;
}
#take .take--title__text {
  padding: 0 620px 0 0;
}
#take .take--title__text span {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FD8558;
}
#take .take--title__text h1 {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #333333;
}
#take .take--title__btn button {
  width: 154px;
  height: 46px;
  background: #FD8558;
  border: #FD8558;
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}

#crazy .title {
  margin: -47px 0 -79px 0;
  text-align: end;
}
#crazy .title h2::selection {
  width: 10px;
}
#crazy .title h2 {
  font-weight: 400;
  font-size: 200px;
  color: #F7F7F7;
}
#crazy .crazy {
  display: flex;
  align-items: center;
}
#crazy .crazy--block__foto img {
  width: 330px;
  height: 360px;
}
#crazy .crazy--block__foto--title {
  display: flex;
  position: absolute;
  align-items: center;
  top: 437vh;
  left: 5px;
  width: 320px;
  height: 126px;
  background: rgba(255, 255, 255, 0.75);
}
#crazy .crazy--block__foto--title h1 {
  font-weight: 400;
  font-size: 24px;
  color: #222222;
}
#crazy .crazy--block__foto--title input {
  width: 46px;
  height: 46px;
  background: #FFFFFF;
  border: 2px solid #222222;
}
#crazy .crazy--block__foto--titles {
  display: flex;
  position: absolute;
  align-items: center;
  top: 493vh;
  left: 5px;
  width: 320px;
  height: 126px;
  background: rgba(255, 255, 255, 0.75);
}
#crazy .crazy--block__foto--titles h1 {
  font-weight: 400;
  font-size: 24px;
  color: #222222;
}
#crazy .crazy--block__foto--titles input {
  width: 46px;
  height: 46px;
  background: #FFFFFF;
  border: 2px solid #222222;
}
#crazy .crazy--block__foto--titlee {
  display: flex;
  position: absolute;
  align-items: center;
  top: 437vh;
  right: 5px;
  width: 320px;
  height: 126px;
  background: rgba(255, 255, 255, 0.75);
}
#crazy .crazy--block__foto--titlee h1 {
  font-weight: 400;
  font-size: 24px;
  color: #222222;
}
#crazy .crazy--block__foto--titlee input {
  width: 46px;
  height: 46px;
  background: #FFFFFF;
  border: 2px solid #222222;
}
#crazy .crazy--block__foto--titled {
  display: flex;
  position: absolute;
  align-items: center;
  top: 493vh;
  right: 5px;
  width: 320px;
  height: 126px;
  background: rgba(255, 255, 255, 0.75);
}
#crazy .crazy--block__foto--titled h1 {
  font-weight: 400;
  font-size: 24px;
  color: #222222;
}
#crazy .crazy--block__foto--titled input {
  width: 46px;
  height: 46px;
  background: #FFFFFF;
  border: 2px solid #222222;
}
#crazy .crazy--shadow {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 0 10px;
  width: 689px;
  height: 725px;
  background: #E0E0E0;
}
#crazy .crazy--shadow__group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 117px -97px 0;
}
#crazy .crazy--shadow__group--line {
  width: 334.08px;
  height: 11.52px;
  background: #C2C2C2;
  transform: rotate(45deg);
}
#crazy .crazy--shadow__group--lines {
  width: 334.08px;
  height: 11.52px;
  background: #C2C2C2;
  transform: rotate(45deg);
  transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
}
#crazy .crazy--shadow__group--linee {
  position: absolute;
  top: 498vh;
  left: 44vh;
  width: 334.08px;
  height: 11.52px;
  background: #C2C2C2;
  transform: rotate(45deg);
  rotate: 90deg;
}
#crazy .crazy--shadow__group--linese {
  position: absolute;
  width: 334.08px;
  height: 11.52px;
  background: #C2C2C2;
  transform: rotate(45deg);
  top: 498vh;
  right: 44vh;
  transform: rotate(45deg);
}
#crazy .crazy--shadow__title {
  padding: 0 0 250px;
  text-transform: capitalize;
  text-align: center;
}
#crazy .crazy--shadow__title h1 {
  font-weight: 500;
  font-size: 10vh;
  color: #C2C2C2;
}
#crazy .crazy--shadow__text {
  position: absolute;
  margin: 565px 15px 0;
  width: 660px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 126px;
  background: rgba(255, 255, 255, 0.85);
}
#crazy .crazy--shadow__text h1 {
  font-weight: 400;
  font-size: 24px;
  color: #222222;
}
#crazy .crazy--shadow__text input {
  width: 46px;
  height: 46px;
  background: #FFFFFF;
  border: 2px solid #222222;
}

#modern {
  padding: 130px 0 100px;
}
#modern .modern {
  display: flex;
  flex-direction: row;
}
#modern .modern--title span {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FD8558;
}
#modern .modern--title h1 {
  margin: 0 0 15px;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #333333;
}
#modern .modern--title p {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #999999;
}
#modern .modern--group__text {
  padding: 0 0 30px;
}
#modern .modern--group__text--duo {
  display: flex;
}
#modern .modern--group__text--duo h1 {
  margin: 0 272px 0 8px;
  font-weight: 400;
  font-size: 18px;
  color: #222222;
}
#modern .modern--group__text--duo p {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #999999;
}
#modern .modern--group__text input {
  width: 540px;
  height: 10px;
}

#team {
  padding: 0 0 100px;
}
#team .coron {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#team .coron span {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FD8558;
}
#team .coron h1 {
  margin: 30px 0 40px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #333333;
}
#team .team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#team .team--foto {
  padding: 0 0 20px;
}
#team .team--foto img {
  width: 350px;
  height: 350px;
}
#team .team--foto__title {
  position: absolute;
  top: 635vh;
  left: 200px;
}
#team .team--foto__title h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}
#team .team--foto__title p {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #FCFCFC;
}
#team .team--foto__titlee {
  position: absolute;
  top: 635vh;
  left: 600px;
}
#team .team--foto__titlee h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}
#team .team--foto__titlee p {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #FCFCFC;
}
#team .team--foto__titleee {
  position: absolute;
  top: 635vh;
  left: 1000px;
}
#team .team--foto__titleee h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}
#team .team--foto__titleee p {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #FCFCFC;
}
#team .team--foto__titleeee {
  position: absolute;
  top: 695vh;
  left: 200px;
}
#team .team--foto__titleeee h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}
#team .team--foto__titleeee p {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #FCFCFC;
}
#team .team--foto__titleeeee {
  position: absolute;
  top: 695vh;
  left: 600px;
}
#team .team--foto__titleeeee h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}
#team .team--foto__titleeeee p {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #FCFCFC;
}
#team .team--foto__titleeeeee {
  position: absolute;
  top: 695vh;
  left: 1000px;
}
#team .team--foto__titleeeeee h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}
#team .team--foto__titleeeeee p {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #FCFCFC;
}
#team .team--btn {
  display: flex;
  align-items: center;
  padding: 30px 0;
}
#team .team--btn button {
  width: 154px;
  height: 46px;
  background: #FD8558;
  border: #FD8558;
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}

#testi {
  height: 760px;
  background: #3A0F73;
}
#testi .testi {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
#testi .testi h1 {
  padding: 40px 0 20px;
  font-weight: 400;
  font-size: 200px;
  text-align: center;
  color: rgba(170, 170, 170, 0.1);
}
#testi .testi--poragraf {
  padding: 0 0 30px;
}
#testi .testi--poragraf p {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
#testi .testi--profil {
  display: flex;
  margin: 50px 69vh 0;
}
#testi .testi--profil img {
  width: 80px;
  height: 80px;
}
#testi .testi--profil__sp {
  display: flex;
  flex-direction: column;
}
#testi .testi--profil__sp--ceo {
  padding: 0 70px 0 0;
}
#testi .testi--profil__sp span {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #FCFCFC;
}

#new {
  padding: 100px 0 0;
}
#new .new--title {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#new .new--title span {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FD8558;
}
#new .new--title h1 {
  padding: 30px 0 40px;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #333333;
}
#new .new--group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
#new .new--group__block img {
  width: 360px;
  height: 243px;
}
#new .new--group__block--title {
  display: flex;
  align-items: center;
  padding: 0 0 0 5px;
}
#new .new--group__block--title__kub {
  margin: 0 0;
  width: 5px;
  height: 5px;
  background: #999999;
}
#new .new--group__block--title span {
  margin: 0 5px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2px;
  color: #FD8558;
}
#new .new--group__block--title p {
  margin: 0 0 0 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #999999;
}
#new .new--group__block--text {
  padding: 0 0 0 5px;
}
#new .new--group__block--text h1 {
  padding: 20px 0;
  font-weight: 400;
  font-size: 24px;
  color: #222222;
}
#new .new--group__block--text span {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2px;
  color: #FD8558;
}

#contact {
  padding: 60px 0 80px;
}
#contact .contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact .contact--addreas {
  margin: 0 160px 0 27px;
}
#contact .contact--addreas__title p {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #999999;
}
#contact .contact--addreas__title h1 {
  font-weight: 400;
  font-size: 24px;
  color: #222222;
}
#contact .contact--addreas__text {
  margin: 20px 0 0;
}
#contact .contact--addreas__text p {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #999999;
}
#contact .contact--addreas__text h1 {
  font-weight: 400;
  font-size: 24px;
  color: #222222;
}
#contact .contact--you__name {
  display: flex;
  padding: 0 0 20px;
}
#contact .contact--you__name input {
  width: 338px;
  height: 58px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}
#contact .contact--you__email {
  margin: 0 0 0 27px;
}
#contact .contact--you__email input {
  width: 338px;
  height: 58px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}
#contact .contact--you__message input {
  width: 705px;
  height: 128px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}
#contact .contact--btn {
  display: flex;
  align-items: center;
  padding: 50px 0 0;
}
#contact .contact--btn button {
  width: 154px;
  height: 46px;
  background: #FD8558;
  border: #FD8558;
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}

#futer {
  background: #111111;
  height: 447px;
}
#futer .futer {
  display: flex;
  justify-content: space-between;
  padding: 80px 0 0;
}
#futer .futer--began {
  margin: 0 150px 0 20px;
}
#futer .futer--began h1 {
  font-weight: 400;
  font-size: 40px;
  color: #FFFFFF;
}
#futer .futer--began__poragraf {
  display: flex;
  padding: 20px 0 0;
}
#futer .futer--began__poragraf p {
  padding: 0 10px 0 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #999999;
}
#futer .futer--home h1 {
  padding: 17px 60px 0 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}
#futer .futer--home p {
  margin: 10px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #BABABA;
}
#futer .futer--portfolio h1 {
  padding: 17px 60px 0 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}
#futer .futer--portfolio p {
  margin: 10px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #BABABA;
}
#futer .futer--blog h1 {
  padding: 17px 60px 0 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}
#futer .futer--blog p {
  margin: 10px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #BABABA;
}
#futer .anow {
  display: flex;
  margin: 80px 280px 0 280px;
}
#futer .anow p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #BABABA;
}
#futer .anow span {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #FCFCFC;
}

/*# sourceMappingURL=style.css.map */
