@media (max-width: 1440px){
  #hero .hero--title {
    right: 390px;
  }
  #creative .creative--block__title{
    margin:0 0 10px;
  }
  #creative .creative--block__lamp--krug__lamps {
    left: 229px;
  }
  #creative .creative--block__lamp--rin__ring {
    right: 655px;
  }
  #creative .creative--block__lamp--tim__time {
    right: 249px;
  }
  #crazy .crazy--shadow__group {
    margin: 118px -95px 0;
  }
  #team .team--foto__title {
    position: absolute;
    top: 603vh;
    left: 200px;
  }
  #team .team--foto__titlee {
    position: absolute;
    top: 369vh;
    left: 610px;
  }
  #team .team--foto__titleee {
    position: absolute;
    top: 369vh;
    left: 1010px;
  }
  #team .team--foto__titleeee {
    position: absolute;
    top: 405vh;
    left: 200px;
  }
  #team .team--foto__titleeeee {
    position: absolute;
    top: 405vh;
    left: 610px;
  }
  #team .team--foto__titleeeeee {
    position: absolute;
    top: 405vh;
    left: 1010px;
  }
  #testi .testi--profil__sp--ceo {
    padding: 0 20px 0 0;
  }
  #crazy .crazy--shadow__text {
    width: 640px;
  }
}
@media (max-width: 1366px) {
  #hero .hero--title {
    right: 390px;
  }
  #creative .creative--block__title{
    margin:0 0 10px;
  }
  #creative .creative--block__lamp--krug__lamps {
    left: 229px;
  }
  #creative .creative--block__lamp--rin__ring {
    right: 655px;
  }
  #creative .creative--block__lamp--tim__time {
    right: 249px;
  }
  #crazy .crazy--shadow__group {
    margin: 118px -95px 0;
  }
  #team .team--foto__title {
    position: absolute;
    top: 643vh;
    left: 200px;
  }
  #team .team--foto__titlee {
    position: absolute;
    top: 643vh;
    left: 600px;
  }
  #team .team--foto__titleee {
    position: absolute;
    top: 643vh;
    left: 1000px;
  }
  #team .team--foto__titleeee {
    position: absolute;
    top: 705vh;
    left: 200px;
  }
  #team .team--foto__titleeeee {
    position: absolute;
    top: 705vh;
    left: 610px;
  }
  #team .team--foto__titleeeeee {
    position: absolute;
    top: 705vh;
    left: 1010px;
  }
  #testi .testi--profil__sp--ceo {
    padding: 0 20px 0 0;
  }
  #crazy .crazy--shadow__text {
    width: 640px;
  }
}
@media (max-width: 1200px){
  #hero .hero--lun__lus {
    margin: 146px 0 0 634px;
  }
  #creative .creative--block__lamp--krug__lamps {
    left: 189px;
    top: 1884px;
  }
  #creative .creative--block__lamp--rin__ring {
    right: 576px;
    top: 1886px;
  }
  #creative .creative--block__lamp--tim__time {
    top: 1887px;
    right: 200px;
  }
  #crazy .crazy--shadow__group--lines {
    position: absolute;
    top: 2726px;
    left: 584px;
  }
  #crazy .crazy--shadow__group--line {
    position: absolute;
    top: 2727px;
    right: 582px;
  }
  #crazy .crazy--shadow__group--linee {
    top: 3216px;
    left: 281px;
  }
  #crazy .crazy--shadow__group--linese {
    top: 3213px;
    right: 283px;
  }
  #crazy .crazy--block__foto--title {
    top: 2812px;
    left: 18px;
    width: 282px;
    height: 89px;
  }
  #crazy .crazy--block__foto--titles {
    top: 3182px;
    left: 18px;
    width: 282px;
    height: 89px;
  }
  #crazy .crazy--block__foto--titlee {
    top: 2823px;
    right: 18px;
    width: 282px;
    height: 89px;
  }
  #crazy .crazy--block__foto--titled {
    top: 3182px;
    right: 18px;
    width: 282px;
    height: 89px;
  }
  #crazy .crazy--block__foto--title h1 {
    margin: 0 30px;
  }
  #crazy .crazy--block__foto--titles h1 {
    margin: 0 30px;
  }
  #crazy .crazy--block__foto--titlee h1 {
    margin: 0 30px;
  }
  #crazy .crazy--block__foto--titled h1 {
    margin: 0 30px;
  }
  #team .team--foto__title {
    top: 4148px;
    left: 173px;
  }
  #team .team--foto__titlee {
    top: 4148px;
    left: 526px;
  }
  #team .team--foto__titleee {
    top: 4148px;
    left: 874px;
  }
  #team .team--foto__titleeee {
    top: 4554px;
    left: 177px;
  }
  #team .team--foto__titleeeee {
    top: 4554px;
    left: 539px;
  }
  #team .team--foto__titleeeeee {
    top: 4554px;
    left: 890px;
  }
  #testi .testi h1 {
    font-size: 172px;
    padding: 40px 0 20px;
  }
  #testi {
    height: 655px;
  }
  #futer .anow {
    margin: 80px 232px 0 260px;
  }
  #crazy .crazy {
    padding: 0 5px;
  }
  #hero {
    width: 100%;
  }
  #header {
    width: 100%;
  }
  #header .header--btn {
    padding: 5px 0 0 0;
  }
  #contact .contact--addreas {
    margin: 0 88px 0 27px;
  }
  *{
    padding: 0;
    margin: 0;
  }
  #hero .hero--foto__ypit {
    margin: 0 0 -43px 685px;
  }
  #hero .hero--x {
    padding: 163px 0 0 1095px;
  }
  #hero .hero--title {
    position: absolute;
    top: 260px;
    right: 239px;
  }
  #ultimate .ultimate--block {
    justify-content: space-between;
  }
  #ultimate .ultimate--group__foto {
    margin: 0 60px 0 -44px;
  }
  #ultimate .ultimate--group {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 40px 0 0 60px;
  }
  #creative {
    padding: 81px 0 60px;
  }
  #crazy .crazy--block {
    margin: 0 -4px 0 0;
  }
  #crazy .crazy--shadow__text {
    margin: 565px 34px 0;
    width: 489px;
    height: 107px;
  }
  #crazy .crazy--shadow__text input {
    margin: 0 50px 0 0;
  }
  #crazy .crazy--shadow__group {
    margin:0 0;
  }
  #crazy .crazy--shadow__text h1 {
    margin: 0 0 0 10px;
  }
  #modern .modern {
    justify-content: space-between;
  }
  #team .team--foto {
    padding: 0 5px 20px;
  }
  #team .team--btn {
    padding: 30px 400px 30px 487px;
  }
  #new .new--group__block{
    margin:0 10px;}
  #contact .contact--btn {
    padding: 50px 462px 0;
  }
  #hero .hero--title__btn button {
    margin: 0 10px;
  }
}
@media (max-width: 1024px){
  #futer .futer--began {
    margin: 0 97px 0 20px;
  }
  #futer .futer--home p {
    margin: 10px 15px 0 0;
  }
  #creative .creative--block__lamp--krug__lamps {
    left: 164px;
    top: 1944px;
  }
  #creative .creative--block__lamp--rin__ring {
    right: 487px;
    top: 1939px;
  }
  #creative .creative--block__lamp--tim__time {
    right: 177px;
    top: 1939px;
  }
  #crazy .crazy--shadow__group--line {
    top: 378vh;
    left: 240px;
    width: 292.08px;
    height: 11.52px;
  }
  #crazy .crazy--shadow__group--lines {
    top: 378vh;
    left: 492px;
    width: 292.08px;
    height: 11.52px;
  }
  #crazy .crazy--block__foto--title {
    top: 392vh;
    left: 16px;
    width: 247px;
    height: 100px;
  }
  #crazy .crazy--block__foto--titlee {
    top: 393vh;
    right: 9px;
    width: 247px;
    height: 100px;
  }
  #crazy .crazy--block__foto--titles {
    top: 441vh;
    left: 7px;
    width: 253px;
    height: 100px;
  }
  #crazy .crazy--block__foto--titled {
    top: 441vh;
    width: 253px;
    height: 100px;
    right: 9px;
  }
  #crazy .crazy--shadow__text {
    margin: 583px 15px 0;
    width: 440px;
    height: 100px;
  }
  #crazy .crazy--shadow__group--linese {
    width: 292.08px;
    height: 11.52px;
    top: 446vh;
    right: 32vh;
  }
  #crazy .crazy--shadow__group--linee {
    top: 446vh;
    left: 32vh;
    width: 292.08px;
    height: 11.52px;
  }
  #team .team--foto__title {
    top: 563vh;
    left: 145px;
  }
  #team .team--foto__titlee {
    top: 563vh;
    left: 434px;
  }
  #team .team--foto__titleee {
    top: 563vh;
    left: 738px;
  }
  #team .team--foto__titleeee {
    top: 608vh;
    left: 137px;
  }
  #team .team--foto__titleeeee {
    position: absolute;
    top: 608vh;
    left: 435px;
  }
  #team .team--foto__titleeeeee {
    position: absolute;
    top: 608vh;
    left: 741px;
  }
  #team .team--btn {
    padding: 30px 380px 30px 378px;
  }
  #hero .hero--title h1 {
    font-weight: 400;
    font-size: 55px;
    text-align: center;
    color: #FFFFFF;
  }
  #hero .hero--title__btn {
    display: flex;
    flex-direction: row;
    padding: 0 135px 0 133px;
  }
  #hero .hero--title__btn button {
    width: 130px;
    height: 50px;
  }
  #header {
    width: 100%;
  }
  #hero {
    width: 100%;
  }
  #hero .hero--foto__ypit {
    margin: 0 0 -43px 779px;
  }
  #header .header--btn {
    margin: 0px -16px 0px 0px;
  }
  #hero .hero--crug {
    left: 282px;
    top: 200px;
    width: 400px;
    height: 400px;
  }
  #hero .hero--crug__krug {
    width: 400px;
    height: 400px;
  }
  #hero .hero--title {
    right: 246px;
  }
  #hero .hero--title h1 {
    font-size: 55px;
  }
  #hero .hero--title__btn button {
    width: 134px;
  }
  #hero .hero--lun__lus {
    margin: 136px 0 0 156px;
  }
  #hero .hero--x {
    padding: 163px 0 0 884px;
  }
  #header .header--title {
    margin: 0 20px 0 40px;
  }
  #ultimate .ultimate--block__one h1 {
    font-size: 38px;
  }
  #ultimate .ultimate--block__two {
    width: 49%;
  }
  #ultimate .ultimate--group__foto img {
    width: 488px;
    height: 365px;
  }
  #ultimate .ultimate--group__title--text {
    padding: 8px 0 0;
  }
  #creative .creative--block {
    padding: 0 48px;
  }
  #take .take--block__line {
    width: 411px;
    height: 2px;
    background: #F5F5F5;
  }
  #creative {
    padding: 100px 0 60px;
  }
  #take .take--title__text {
    padding: 0 0 0 0;
  }
  #crazy .crazy--block__foto img {
    width: 277px;
    height: 361px;
  }
  #crazy .crazy--block__foto--title h1 {
    margin: 0 18px;
  }
  #crazy .crazy--block__foto--titles h1 {
    margin: 0 18px;
  }
  #crazy .crazy--block__foto--titlee h1 {
    margin: 0 18px;
  }
  #crazy .crazy--block__foto--titled h1 {
    margin: 0 18px;
  }
  #team .team--foto img {
    width: 300px;
    height: 300px;
  }
  #team .team--foto {
    padding: 0 3px 20px;
  }
  #new .new--group__block img {
    width: 293px;
    height: 230px;
  }
  #new .new--group__block--text h1 {
    padding: 10px 0;
  }
  #contact .contact--addreas {
    margin: 0 47px 0 27px;
  }
  #contact .contact--you__message input {
    width: 561px;
    height: 128px;
  }
  #contact .contact--you__email input {
    width: 255px;
    height: 58px;
  }
  #contact .contact--btn {
    padding: 50px 382px 0;
  }
  #futer .anow {
    display: flex;
    margin: 80px 180px 0 191px;
  }
  #testi .testi h1 {
    font-size: 139px;
  }
  #testi {
    height: 600px;
    background: #3A0F73;
  }
}
@media (max-width: 992px){
  #hero .hero--title {
    position: absolute;
    top: 276px;
    right: 242px;
  }
  #creative .creative--block__lamp--krug__lamps {
    left: 161px;
    top: 1982px;
  }
  #creative .creative--block__lamp--rin__ring {
    right: 471px;
    top: 1967px;
  }
  #creative .creative--block__lamp--tim__time {
    right: 171px;
    top: 1966px;
  }
  #crazy .crazy--shadow__group--line {
    width: 221.08px;
    height: 11.52px;
    top: 498vh;
    left: 251px;
  }
  #crazy .crazy--shadow__group--lines {
    width: 221.08px;
    height: 11.52px;
    top: 498vh;
    left: 520px;
  }
  #crazy .crazy--shadow__group--linee {
    top: 598vh;
    left: 44vh;
    width: 221.08px;
    height: 11.52px;
  }
  #crazy .crazy--shadow__group--linese {
    width: 221.08px;
    height: 11.52px;
    top: 597vh;
    right: 44vh;
  }
  #crazy .crazy--block__foto--titles {
    top: 522vh;
    left: 39px;
    width: 211px;
    height: 77px;
  }
  #crazy .crazy--block__foto--title {
    top: 590vh;
    left: 21px;
    width: 226px;
    height: 77px;
  }
  #crazy .crazy--block__foto--titled {
    top: 523vh;
    width: 225px;
    height: 77px;
    right: 26px;
  }
  #crazy .crazy--block__foto--titlee {
    top: 589vh;
    right: 28px;
    width: 221px;
    height: 77px;
  }
  #crazy .crazy--shadow__text {
    width: 344px;
    margin: 599px 51px 0;
    height: 81px;
  }
  #team .team--foto__title {
    position: absolute;
    top: 753vh;
    left: 261px;
  }
  #team .team--foto__titlee {
    position: absolute;
    top: 754vh;
    left: 583px;
  }
  #team .team--foto__titleee {
    position: absolute;
    top: 809vh;
    left: 249px;
  }
  #team .team--foto__titleeee {
    position: absolute;
    top: 813vh;
    left: 584px;
  }
  #team .team--foto__titleeeee {
    position: absolute;
    top: 873vh;
    left: 257px;
  }
  #team .team--foto__titleeeeee {
    position: absolute;
    top: 874vh;
    left: 576px;
  }
  #new .new--group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
  }
  #futer .futer--began__poragraf {
    display: flex;
    padding: 20px 0 0;
    flex-direction: column;
  }
  #header .header {
    display: flex;
    align-items: center;
    padding: 3px 0;
    width: 99%;
  }
  #header .header--title {
    margin: 0 24px 0 40px;
  }
  #hero .hero{
    width:90%;
  }
  #hero .hero--crug {
    left: 256px;
  }
  #hero .hero--title {
    position: absolute;
    top: 276px;
    right: 191px;
  }
  #hero .hero--lun__lus {
    margin: -22px 0 0 377px;
  }
  #ultimate .ultimate--block__one h1 {
    font-size: 36px;
  }
  #ultimate .ultimate--group__foto img {
    width: 453px;
    height: 374px;
  }
  #ultimate .ultimate--group__title h1 {
    font-size: 33px;
  }
  #ultimate .ultimate--group__title--text {
    padding: 0 0 0;
    margin: -16px 0;
  }
  #creative .creative--block__lamp--krug__lamps {
    left: 161px;
    top: 2037px;
  }
  #creative .creative--block__lamp--rin__ring {
    right: 471px;
    top: 2018px;
  }
  #creative .creative--block__lamp--tim__time {
    right: 171px;
    top: 2016px;
  }
  #crazy .crazy--shadow__group--line {
    width: 221.08px;
    height: 11.52px;
    top: 532vh;
    left: 298px;
  }
  #crazy .crazy--shadow__group--lines {
    width: 221.08px;
    height: 11.52px;
    top: 532vh;
    right: 288px;
  }
  #crazy .crazy--shadow__group--linese {
    width: 221.08px;
    height: 11.52px;
    top: 604vh;
    right: 53vh;
  }
  #crazy .crazy--shadow__group--linee {
    top: 604vh;
    left: 53vh;
    width: 221.08px;
    height: 11.52px;
  }
  #crazy .crazy--shadow__text {
    width: 316px;
    margin: 623px 15px 0;
    height: 81px;
  }
  #crazy .crazy--shadow__title h1 {
    font-size: 8vh;
  }
  #take .take--title {
    padding: 42px 0 0;
  }
  #take .take--title__text {
    padding: 0 516px 0 0;
  }
  #team .team {
    justify-content: center;
  }
  #team .team--foto {
    padding: 0 0 20px;
    margin: 0 10px;
  }
  #crazy .crazy--block__foto--title {
    top: 591vh;
    left: 24px;
    width: 246px;
    height: 77px;
  }
  #crazy .crazy--block__foto--titlee {
    top: 903vh;
    right: 176px;
    width: 247px;
    height: 77px;
  }
  #crazy .crazy--block__foto--titles {
    top: 528vh;
    left: 39px;
    width: 247px;
    height: 77px;
  }

  #crazy .crazy--block__foto--titled {
    top: 530vh;
    width: 247px;
    height: 77px;
    right: 52px;
  }
  #crazy .crazy--block__foto--titlee {
    top: 592vh;
    right: 60px;
    width: 247px;
    height: 77px;
  }
  #team .team--foto__title {
    position: absolute;
    top: 767vh;
    left: 237px;
  }
  #team .team--foto__titlee {
    position: absolute;
    top: 769vh;
    left: 600px;
  }
  #team .team--foto__titleee {
    position: absolute;
    top: 841vh;
    left: 236px;
  }
  #team .team--foto__titleeee {
    position: absolute;
    top: 841vh;
    left: 591px;
  }
  #team .team--foto__titleeeee {
    position: absolute;
    top: 904vh;
    left: 235px;
  }
  #team .team--foto__titleeeeee {
    position: absolute;
    top: 904vh;
    left: 598px;
  }
  #team .team--btn {
    padding: 30px 365px;
  }
  #testi .testi h1 {
    font-size: 128px;
  }
  #testi {
    height: 572px;
    background: #3A0F73;
  }
  #contact .contact--you__name input {
    width: 262px;
  }
  #contact .contact--you__email input {
    width: 262px;
  }
  #contact .contact--you__message input {
    width: 552px;
  }
  #contact .contact--addreas {
    margin: 0 67px 0 27px;
  }
  #contact .contact--btn {
    display: flex;
    align-items: center;
    padding: 50px 366px 0;
  }
  #futer .futer--began {
    display: flex;
    flex-direction: column;
    margin: 0 150px 0 20px;
  }
  #futer .futer--portfolio{
    margin: 0 20px;
  }
  #futer .anow {
    display: flex;
    margin: 80px 161px 0 170px;
  }
}
@media (max-width: 768px){
  #header .header{
    &--nav{
      display: none}
  }
  #header .header{
    &--burger{
      display: block}
  }
  #header .header--title {
    margin: 0 32px 0 27px;
  }
  #header .header--btn {
    margin: 0px -271px 0px 0px;
  }
  #header .header--burger .icon-burger {
    font-size: 27px;
    color: black;
  }
  #header .header--burger .burgerlabel {
    position: absolute;
    color: white;
    top: 21px;
    right: 47px;
  }
  #header .header--burger__block .burgerclose {
    position: absolute;
    color: white;
    top: 21px;
    right: 47px;
  }
  #header .header--btn {
    margin: 0px -235px 0px 0px;
  }
  #hero .hero--crug {
    left: 218px;
    top: 200px;
    width: 400px;
    height: 387px;
  }
  #hero .hero--crug__krug {
    position: absolute;
    left: 20px;
    bottom: 25px;
    width: 400px;
    height: 387px;
  }
  #hero .hero--title {
    position: absolute;
    top: 260px;
    right: 61px;
  }
  #hero .hero--title h1 {
    font-size: 53px;
  }
  #hero .hero--title__btn button {
    width: 130px;
  }
  #hero {
    height: 670px;
    min-height: 100px;
  }
  #ultimate .ultimate--block {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  #ultimate .ultimate--block__two h1 {
    margin: 30px 0;
  }
  #ultimate .ultimate--group {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #ultimate .ultimate--group__foto {
    margin: 0 60px 0 62px;
  }
  #ultimate .ultimate--group__title--text {
    padding: 0 0 0;
  }
  #creative .creative--block__lamp--rin__ring {
    position: absolute;
    right: 366px;
    rotate: 45deg;
    top: 2380px;
    width: 43px;
    height: 64px;
    color: #3A0F73;
  }
  #creative .creative--block__lamp--krug__lamps {
    position: absolute;
    left: 125px;
    top: 2377px;
    width: 43px;
    height: 64px;
    color: #FD8558;
  }
  #creative .creative--block__lamp--tim__time {
    position: absolute;
    right: 135px;
    top: 2373px;
    width: 54px;
    height: 64px;
    color: #70B446;
  }
  #crazy .crazy {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #crazy .crazy--block {
    margin: 0 -4px 0 0;
    display: flex;
  }
  #crazy .crazy--block__foto--title {
    top: 609vh;
    left: 89px;
    width: 246px;
    height: 77px;
  }
  #crazy .crazy--block__foto--titlee {
    top: 609vh;
    right: 72px;
    width: 247px;
    height: 77px;
  }
  #crazy .crazy--block__foto--titles {
    top: 804vh;
    left: 76px;
    width: 247px;
    height: 77px;
  }
  #crazy .crazy--block__foto--titled {
    top: 804vh;
    width: 289px;
    height: 77px;
    right: 52px;
  }
  #crazy .crazy--shadow__text {
    width: 506px;
    margin: 606px 91px 0;
    height: 81px;
  }
  #take .take--title__text {
    padding: 0 0 0 0;
  }
  #take .take--title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 86px 0 0;
  }
  #crazy .crazy--shadow__group--linee {
    position: absolute;
    top: 658vh;
    left: 76vh;
    width: 333.08px;
    height: 11.52px;
    background: #C2C2C2;
    transform: rotate(45deg);
    rotate: 90deg;
  }
  #crazy .crazy--shadow__group--linese {
    position: absolute;
    width: 334.08px;
    height: 11.52px;
    background: #C2C2C2;
    transform: rotate(45deg);
    top: 658vh;
    right: 77vh;
  }
  #crazy .crazy--shadow__group--lines {
    width: 334.08px;
    height: 11.52px;
    top: 743vh;
    right: 439px;
  }
  #crazy .crazy--shadow__group--line {
    width: 334.08px;
    height: 11.52px;
    top: 743vh;
    left: 438px;
  }
  #modern .modern {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #modern {
    padding: 90px 0 60px;
  }
  #team .team--foto__title {
    position: absolute;
    top: 989vh;
    left: 308px;
  }
  #team .team--foto__titlee {
    position: absolute;
    top: 1052vh;
    left: 324px;
  }
  #team .team--foto__titleee {
    position: absolute;
    top: 1127vh;
    left: 300px;
  }
  #team .team--foto__titleeee {
    position: absolute;
    top: 1195vh;
    left: 310px;
  }
  #team .team--foto__titleeeee {
    position: absolute;
    top: 1261vh;
    left: 306px;
  }
  #team .team--foto__titleeeeee {
    position: absolute;
    top: 1326vh;
    left: 305px;
  }
  #team .team--btn {
    padding: 30px 268px;
  }
  #team {
    padding: 0 0 30px;
  }
  #testi .testi h1 {
    font-size: 104px;
  }
  #new .new--group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  #contact .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  #contact .contact--addreas {
    margin: -22px 160px 46px 32px;
  }
  #contact .contact--btn {
    padding: 50px 267px 0;
  }
  #futer .futer {
    display: flex;
    justify-content: space-between;
    padding: 80px 0 0;
    flex-direction: column;
    align-items: baseline;
  }
  #futer {
    background: #111111;
    height: 898px;
  }
  #futer .anow {
    display: flex;
    margin: 80px 58px 0 53px;
  }
}
@media (max-width: 576px){
  #header .header--btn {
    margin: 0px -118px 0px 0px;
  }
  #hero .hero--crug {
    left: 147px;
    top: 200px;
    width: 300px;
    height: 300px;
  }
  #hero .hero--crug__krug {
    position: absolute;
    left: 20px;
    bottom: 25px;
    width: 302px;
    height: 280px;
  }
  #hero .hero--title {
    position: absolute;
    top: 223px;
    right: -32px;
  }
  #hero .hero--crug__krug {
    position: absolute;
    left: 20px;
    bottom: 25px;
    width: 302px;
    height: 280px;
  }
  #hero .hero--title h1 {
    font-size: 39px;
  }
  #hero .hero--title__btn button {
    width: 105px;
    height: 56px;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    border: 2px solid #FD8558;
    background: transparent;
  }
  #hero .hero--title {
    position: absolute;
    top: 243px;
    right: 15px;
  }
  #ultimate .ultimate--title h1 {
    font-weight: 400;
    font-size: 129px;
    line-height: 145px;
    letter-spacing: 0.1px;
    color: #F7F7F7;
  }
  #ultimate .ultimate--title {
    padding: 1px 5px 24px;
  }
  #ultimate .ultimate--block__one h1 {
    font-weight: 400;
    font-size: 23px;
    line-height: 37px;
    color: #333333;
  }
  #ultimate .ultimate--group {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0 0;
  }
  #ultimate .ultimate--group__foto img {
    width: 400px;
    height: 330px;
  }
  #creative .creative {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #creative .creative--block__lamp--krug__lamps {
    position: absolute;
    left: 262px;
    top: 2183px;
    width: 43px;
    height: 64px;
    color: #FD8558;
  }
  #creative .creative--block__lamp--tim__time {
    position: absolute;
    right: 259px;
    top: 2567px;
    width: 54px;
    height: 64px;
    color: #70B446;
  }
  #creative .creative--block__lamp--rin__ring {
    position: absolute;
    right: 276px;
    rotate: 45deg;
    top: 2371px;
    width: 43px;
    height: 64px;
    color: #3A0F73;
  }
  #crazy .title h2 {
    font-size: 138px;
    padding: 16px 0 58px 0;
  }
  #crazy .crazy--block__foto img {
    width: 285px;
    height: 360px;
  }
  #crazy .crazy--block__foto--title {
    left: 33px;
  }
  #crazy .crazy--block__foto--titlee {
    right: 17px;
  }
  #crazy .crazy--shadow {
    width: 572px;
    height: 470px;
  }
  #crazy .crazy--shadow__title {
    padding: 0 0 133px;
  }
  #crazy .crazy--shadow__group--linese {
    display: none;
  }
  #crazy .crazy--shadow__group--linee {
    display: none;
  }
  #crazy .crazy--shadow__group--lines {
    display:none;
  }
  #crazy .crazy--shadow__group--line {
    display:none;
  }
  #crazy .crazy--shadow__text {
    width: 400px;
    margin: 346px 90px 0;
    height: 81px;
  }
  #crazy .crazy--block__foto--titles {
    top: 760vh;
    left: 23px;
    width: 247px;
    height: 77px;
  }
  #crazy .crazy--block__foto--titled {
    top: 760vh;
    width: 217px;
    height: 75px;
    right: 34px;
  }
  #modern .modern--group{
    width:90%}
  #team .team--foto__title {
    position: absolute;
    top: 953vh;
    left: 219px;
  }
  #team .team--foto__titlee {
    position: absolute;
    top: 1023vh;
    left: 222px;
  }
  #team .team--foto__titleee {
    position: absolute;
    top: 1097vh;
    left: 214px;
  }
  #team .team--foto__titleeee {
    position: absolute;
    top: 1162vh;
    left: 228px;
  }
  #team .team--foto__titleeeee {
    position: absolute;
    top: 1225vh;
    left: 231px;
  }
  #team .team--foto__titleeeeee {
    position: absolute;
    top: 1295vh;
    left: 202px;
  }
  #team .team--btn {
    padding: 30px 181px;
  }
  #testi .testi h1 {
    padding: 40px 0 20px;
    font-weight: 400;
    font-size: 85px;
    text-align: center;
    color: rgba(170, 170, 170, 0.1);
  }
  #contact .contact--you__name {
    display: flex;
    flex-direction: column;
    padding: 0 134px 20px;
  }
  #contact .contact--you__email {
    margin: 0 0 0 0;
  }
  #contact .contact--you__message input {
    width: 462px;
  }
  #contact .contact--btn {
    padding: 50px 179px 0;
  }
  #contact .contact--btn {
    padding: 50px 179px 0;
  }
  #contact .contact--ypu__message {
  }
}
@media (max-width: 451px){}
@media (max-width: 400px){}
@media (max-width: 380px){}
@media (max-width: 320px){}
@media (max-width: 1440px){}
